# Токен от @BotFather
BOT_TOKEN=

# Токен от приложения Яндекс OAuth
YANDEX_TOKEN=

# ID администраторов через запятую (например: 123456, 789012)
ADMIN_IDS=

# Настройки путей (опционально)
# YANDEX_DIR=/Боты/Бот журнала